
@font-face{
    font-family: "Avenir-Roman";
    src: url("./static/Avenir-Font/AvenirLTStd-Roman.otf");
}
body{
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}
body , div , input ,label , a{
    font-family: Avenir-Roman !important;
}
a{
    color: inherit;
    &:hover{
        color: inherit;
        text-decoration: none !important;
    }
}
.ourTable{
    font-size: 20px;
    // background: transparent url('img/Rectangle 202.png') 0% 0% no-repeat padding-box;
}
div, input,label , body{
    font-family: "-Roman";
}

.vh-100{
    min-height: 100vh;
}
.top-header{
    background-color: #fff;
    a{
        font-size: 16px;
        padding-top: 10px;
    }
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
/* @font-face{
    font-family: "-Roman";
    src: url("../public/-Font/hea");
} */

.reduce-width{
    min-width: 200px;
    max-width: 300px;
}
.popup-container{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    top: 50%;
    transform: translateY(-50%);
    // lr
}
.bigTitle{
    font-size: 30px;
    font-weight: bolder;
    color: #4bcdc9;
}

/* CHROME */
#range {
  -webkit-appearance: none;
  outline: none;
  background: #0031B4;
  height: 6px;
  width: 200px;
  border-radius: 5px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
  }
}

/* FIREFOX */
#range::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #0031B4;
  cursor: pointer;
}

#range::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background:  #FFFFFF;
  border-radius: 5px;
}
.card-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #D1D1D1;
padding: 20px 30px;
border-radius: 30px;
opacity: 1;
&.font-16{
    font-size: 16px;
    font-weight: bold;
}
&.smallPadding{
    padding: 20px 40px;
}
}
.input{
/* border: 2px solid #040415; */
border-radius: 12px;
height: 45px;
text-align: left;
font-size: 14px;
letter-spacing: 0.2px;
color: #000000;
opacity: 1;
}
.label{
font: normal normal 900 20px/28px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.md-100vh{
    height: 100vh;
}

.executed{
    color: #74c1b6;
    font-weight: bold;
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 25px;
    text-align: center;
    background-color: #e4fdfb;
}
.title{
    text-align: left;
font: normal normal 900;
font-size: 30px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.profile-image{
    width: 70px;
    height: 70px;
    background-position: center;
    border-radius: 50%;
    background-size: cover;
}
.header-dashboard{
border: 1px solid #707070;
border-radius: 13px;
opacity: 1;
background: transparent linear-gradient(102deg, #364ABB 0%, #202C92 100%) 0% 0% no-repeat padding-box;

}
.font20{
    text-align: left;
font-size: 20ex ;
letter-spacing: 0px;
color: #5B5B5F;
}

.font30{
    text-align: left;
    font-size: 30px !important;
letter-spacing: 0px;
color: #5B5B5F;
}
.font15{
 font-size: 15px;
color: #fff;
}

.font40{
    font-size: 40px;
    color: #fff;
    &.color-black{
        color: #000000;
    }
}

.color-black{
    color: #000000;
}

.form-input{
    label{
  color: #000;
  font-weight: bold;
  font-size: 14;
    }
    input{
 color: #000;
  font-weight: bold;
  font-size: 14;
  border: 2px solid #d0d0d6;
border-radius: 12px;
height: 45px !important
    }
}
.font25{
    font-size: 25px;
}
.font20{
    font-size: 20px;
}

.noWrap{
    white-space: nowrap;
}

.font16{
    text-align: left;
font-size: 16px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.button-pink{
    height: 56px;
    width: 100%;
    color: #fff;
    font-size: 24px;
    background-color: #FF844B;
}

.button-purple{
    background-color: #7461f5;
      height: 56px;
    color: #fff;
    font-size: 24px;
}
.button-white{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #707070;
border-radius: 16px;
opacity: 1;
color: #717171;
font-size: 14px;
padding: 14px

}
.tableB{
    font-weight: bold;
    font-size: 20px;
}
.button-harsh{
    background: #BBBBBB 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #707070;
padding: 10px 20px;
border-radius: 16px;
opacity: 1;
}
.button-orangeGradient{
background: transparent linear-gradient(102deg, #FD371F 0%, #FF844B 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #F1522373;
border-radius: 12px;
color: #fff;
font-size: 14px;
padding: 14px
}
.black-button{
background-color: #000;
border-radius: 12px;
color: #fff;
font-size: 14px;
padding: 14px
}

.alignycenter{
    display: flex;
   align-items: center;
}
.circle{
    width: 100%;
    padding: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alignXandYcenter{
    display: flex;
   align-items: center;
   justify-content: center;
}
.gray-card{
background: #F4F4F4 0% 0% no-repeat padding-box;
border-radius: 19px;
opacity: 1;
padding: 15px !important;
text-align: left;
letter-spacing: 0px;
color: #3D3D3D;
opacity: 1;
font-size: 15px;
}

.list-common{
    li{
        text-decoration: underline;
font: normal normal 900 18px/23px ;
letter-spacing: 0px;
color: #707070;
opacity: 1;
padding-top: 10px;
padding-bottom: 10px;
    }
}

.note{
    font-size: 16px;
    color: #000;
}

.tiny-font{
    font-size: 15px;
}

@media(max-width: 1024px){
   .dd-md-none{
        display: none  !important
    }
}
@media(max-width: 768px){
    .card-container{
        padding: 20px 20px !important;
        &.smallPadding{
            padding: 20px 20px !important;
        }

    }
}

@media(max-width: 768px){
    .card-container{
        padding: 20px 20px !important;

    }

.table150{
    width: 150%;
}

.reduce-width{
    min-width: 100px;
    max-width: 150px;
}
}

@media(max-width: 767px){
    .md-100vh{
      height: auto !important;

    }
    .ttt{
        width: 300%;
    }
    .img-header{
        width: 100px;
    }
}

